* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.h text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.hxx text eol=lf

*.py text eol=lf
*.pyi text eol=lf
*.py.typed text eol=lf

*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.md text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.svg text eol=lf

*.pyd binary
*.dll binary
*.exe binary
*.lib binary
*.exp binary
*.obj binary
*.pdb binary

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
